/* ------ CSS REST ----- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ----- Universal Style ----- */

body {
  font-family: 'Lora', serif;
}

a,h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

a.button.button-primary {
  background-color: #4D7298;
  font-size: 1.3rem;
  border: none;
}

a.button.button-primary:hover {
  background-color: #70566D;
}

.center {
  text-align: center;
}

img {
  max-width: 100%;
}

[class*=grid] img {
  display: block;
}

.rel {
  position: relative;
}

.white-text {
  color: white;
}

.blurb {
  padding: 5%;
}

.no-margin {
  margin: 0;
}

.text-column {
  padding: 0 5%;
}

.row .half-width {
  width: 50%;
  float: left;
}

.right {
  width: 35%;
  float: right;
}

.mobile-show {
  display: none;
}

.desktop-show {
  display: block;
}

.light-bg {
  background-color: rgba(255, 255, 255, 0.7);
}

.light-texture {
  background-image: url('../images/ricepaper-light.png')
}

.light-bg.active {
  background-color: rgba(255, 255, 255, 1);;
}

/* ------ Header Section ------ */
header {
  /* position: fixed removed for now */
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  transition: 1s;
  background-color: rgba(11,38,45,.5);
  border-bottom: 3px solid rgba(0,0,0,0);
}

/* Used for the header opacity transition, added in script.js */
.active-nav {
  background-color: rgba(0, 0, 0, 0.85);
  border-bottom: 3px solid rgba(0,0,0,0);
  transition: 1s;
}

header .header-container {
  margin: 0 auto;
  max-width: 1200px;
}

header img.logo {
  height: 50px;
  margin: 13px 0 13px 20px;
}

header li {
  list-style: none;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  margin: 0 8px;
  color: #DDDDDD;
}

nav {
  float: right;
  margin: 22px 0 4px 0;
  padding-right: 24px;;
}

.header-container.mobile-hide nav ul {
  display: inline-block;
  margin-bottom: 0;
}

nav li a:hover {
  background-color: #70566D;
  color: white;
  border-radius: 10%;
}

.nav-stacked {
  display: inline-block;
}

.dropdown-nav {
  position: absolute;
  text-align: right;
  width: 100%;
  padding: 10px 0 12px 0;
  background-color: rgba(0,0,0,0.7);
  color: rgba(255, 255, 255, 0.6);
}

.dropdown-nav i,
.dropdown-nav .dropdown-content ul {
  padding-right: 10px;
}

.dropdown-nav img.logo {
  position: absolute;
  left: 0;
  margin-top: 3px;
}

.dropdown-content {
  border-top: 2px solid #7D6D61;
  margin-top: 10px;
}

.dropdown-content ul {
  margin-top: 10px;
  margin-bottom: -15px;
}

.dropdown-content li {
  display: block;
  text-align: right;
  margin-bottom: 10px;
}

.dropdown-nav a {
  text-align: right;
}

span.bold {
  font-weight: bold;
}

/* Nav for devices 800px to 902px wide */
@media screen and (max-width: 910px) {
  header li {
    margin: 0 3px;
  }

  header img.logo {
    height: 40px;
    margin: 13px 0 5px 10px;
  }

  nav {
    margin: 22px 0 4px 0;
    padding-right: 13px;
  }
}

/* -----Home Page------ */
#landing-page section,
#villa-page section,
#services-page section {
  margin-bottom: 15px;
}

/* --Home-Above-the-fold-- */
.title-section {
  background-image: url(../images/villa-sancita-homeimage.jpg);
  background-size: cover;
  height: 100vh;
  color: #e9e3d5;
}

.title-section .textbox {
  background-color: rgba(11,38,45,0.5)
}

.title-section h1 {
  text-align: left;
  margin-bottom: 6px;
}

.title-section h2 {
  margin-bottom: 35px;
  text-align: left;
}

.title-section h3 {
  display: inline-block;
  text-align: left;
  line-height: 1.5;
  letter-spacing: 1px;
}

/* --Carousel-Section-- */

/* --Carousel-- */

.owl-dots {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.carousel-section ul {
  list-style: none;
  text-align: center;
  line-height: 1.3;
  font-size: 1.8rem;
  font-family: 'Montserrat', sans-serif;
}

/*----- Book Directly and TripAdvisor section ----------*/

/* Book directly with us */
.tripadvisor-section .blurb-container {
  border: 4px solid #839a90;
  padding: 12px;
  max-width: 350px;
  margin: 0 auto;
}
.tripadvisor-section .blurb-container li {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  list-style: square inside;
  text-align: left;
  display: inline-block;
}

.tripadvisor-section .blurb-container i.fa-check {
  color: #50a050;
}

/* TripAdvisor section */
.tripadvisor-section {
  margin-top: 50px;
  padding: 0 60px 0 20px;
}

.tripadvisor-section .section-title {
  margin-bottom: 40px;
}

.tripadvisor-branding .title h3 {
  margin-bottom: 0;
}

.tripadvisor-branding .rating {
  margin-bottom: 15px;
  font-family: 'Lora', sans-serif;
  font-weight: 400;
}

.tripadvisor-branding:hover .title h3 {
  color: #0091BD;
}

#tripadvisor-carousel {
  /*margin-left: 30px;*/
}

.tripadvisor-profile {
  text-align: right;
  padding-right: 30px
}

.tripadvisor-review {
  font-family: 'Lora', sans-serif;
}

.tripadvisor-review .profile-photo img {
  border-radius: 100%;
  width: 75px;
  height: 75px;
  margin-bottom: 5px;
  display: inline-block;
}

.tripadvisor-review .title h6 {
  margin-bottom: 2px;
}

@media screen and (max-width: 800px) {
  .tripadvisor-section {
    padding: 0 10px 0 10px;
  }

  .tripadvisor-section .section-title {
    margin-top: 80px;
  }

  .testimonials {
      background-image: url('../images/ricepaper-light.png')
  }
}

.owl-carousel .owl-item .rating img {
  width: initial;
}

.tripadvisor-review .rating {
  margin-bottom: 8px;
}

.tripadvisor-review .review-link {
  margin-top: -8px;
}

.column40pc {
  width: 40%;
  float: left;
}

.column60pc {
  width: 60%;
  float: left;
}

/* Owl carousel */
.owl-theme .owl-dots .owl-dot span {
  background: rgba(0,0,0,0);
  border: 3px solid #D6D6D6;
  width: 15px;
  height: 15px;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #D6D6D6
}

.owl-prev, .owl-next {
  position:absolute;
  top: 20%;
  padding:5px;
  margin:0;
  z-index:100;
  font-size:3rem;
  cursor:pointer;
  color:#555;
  opacity: 0.7;
  background: #e4e4e4;
}

.owl-prev.disabled, .owl-next.disabled {
  opacity: 0.2;
}

.owl-prev:hover, .owl-next:hover {
  opacity: 1;
}

.owl-theme .owl-nav [class*=owl-]:hover {
  background: #d7d7d7;
}

.owl-prev {
  left:-36px;
}

.owl-next {
  right:-60px;
}

.owl-theme .owl-controls .owl-buttons div{
  color: #555;
  display: inline-block;
  zoom: 1;
  *display: inline;/*IE7 life-saver */
  font-size: 3rem;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  background: transparent;
  filter: Alpha(Opacity=100);/*IE7 fix*/
  opacity: 1;
  margin-top:-32px;
}

.owl-theme .owl-controls .owl-buttons div:hover {
  color:#2a6496;
}

/* -----About Section on Home Page------ */
.about-section {
  background: linear-gradient(rgba(11,38,45,0.6), rgba(11,38,45,0.6)), url(../images/villa-sancita-whole-villa.jpg);
  background-size: cover;
  color: #e9e3d5;
}

.about-section h1 {
  font-size: 3.6rem;
  text-align: left;
  margin-bottom: 6px;
}

.about-section h3 {
  font-size: 1.6rem;
  display: inline-block;
  text-align: left;
  line-height: 1.5;
  letter-spacing: 1px;
}


/* --The Villa Page-- */

.title-section.thevilla-section {
  background-image: url("../images/villa-sancita-the-villa.jpg");
  background-size: cover;
  background-color: rgba(11,38,45,0.5);
  height: 100vh;
  color: #e9e3d5;
}

.bedroom-carousel-section .blurb {
  text-align: center;
}

/* --Bedroom-Carousel-section-- */

.bedroom p {
  font-size: 1.6rem;
}

#open-living-desc-mobile {
  display: none;
}

#open-living-desc-desktop {
  display: block;
}

@media screen and (max-width: 800px) {
  #open-living-desc-mobile {
    display: block;
  }

  #open-living-desc-desktop {
    display: none;
  }
}
/* --location-section-- */

.title-section.location-section .right {
  background-color: rgba(11,38,45,0.7)
}

.title-section.location-section {
  background-image: url("../images/villa-sancita-location.jpg");
}

.title-section.location-section h1 {
  font-size: 3.6rem;
  text-align: left;
  margin-bottom: 6px;
}

.title-section.location-section h3 {
  display: inline-block;
  font-size: 1.6rem;
  text-align: left;
  line-height: 1.5;
  letter-spacing: 1px;
}

/* --services-section-- */

.title-section.services-section .left {
  background-color: rgba(11,38,45,0.5)
}

.title-section.services-section {
  background-image: url("../images/villa-sancita-services.jpg");
}

.title-section.services-section h1 {
  font-size: 3.6rem;
  text-align: left;
  margin-bottom: 6px;
}

.title-section.services-section h3 {
  display: inline-block;
  font-size: 1.6rem;
  text-align: left;
  line-height: 1.5;
  letter-spacing: 1px;
}

/*** Services page ***/
#services-page .mobile-hide {
  display: block;
}

#services-page .mobile-show {
  display: none;
}

@media screen and (max-width: 800px) {
  #services-page .mobile-hide {
    display: none;
  }

  #services-page .mobile-show {
    display: block;
  }
}

#services-page .text-column h2 {
  margin-bottom: 1rem;
}

/* ----- Rates Page ----- */
#rates-page section,
#location-page section,
#gallery-page section,
#contact-page section {
  margin-bottom: 100px;
}

.hero-container {
  position: relative;
  height: 300px;
  background-color: #467903;
  background-size: cover;
}

section.rates-hero {
  background-image: url(../images/rates-bg.jpg);
}

.hero-container .hero-title {
  position: absolute;
  text-align: center;
  top: 48%;
  left: 0;
  right: 0;
  color: #FFF;
}

/*** Rates table ***/
.rates-tables {
  max-width: 710px;
}

/* Style the tab */
div.tabs {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the links inside the tab */
div.tabs .tab {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
div.tab:hover {
    background-color: #ddd;
    cursor: pointer;
}

/* Create an active/current tablink class */
div.tab:focus, div.tab.active {
    background-color: #ccc;
}

.rates-tables .tabs .booknow-button {
  position: absolute;
  right: 8px;
  top: 8px;
}

.rates .booknow-button.mobile-show,
.rates .booknow-button.mobile-show a {
  width: 100%;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/*** Discounts section ***/
#rates-page section.discounts {
  padding: 30px 0;
}

/* #### Location and Services #### */
section.hero-container.location-hero {
    background-image: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0)), url('../images/location-bg.jpg');
}

@media screen and (min-width: 800px) {
  section.description-section {
    padding-top: 25px;
  }
}

section.distances-map, section.distances-map div.half-width {
  height: 450px;
}

.distances-container {
  text-align: center;
}

.distances-container table {
  margin: 0 auto;
}

.distances-container table td {
  border-bottom: 0 solid black;
  padding-top: 2px;
  padding-bottom: 2px;
}

@media screen and (max-width: 400px) {
  td {
    padding: 12px 4px;
  }
}

.distances-container .distances-title {
  margin-top: 50px;
}

.map-container iframe {
  width: 100%;
}


/* ---- Gallery page ---- */

.grid-sizer,
.grid-item {
  width: 32%;
  margin-bottom: 1%;
}

.grid-item--width-2 {
  width: 64%;
}

.gutter-sizer {
  width: 2%;
}

@media screen and (max-width: 799px) {
  .grid-sizer,
  .grid-item {
    width: 100%;
    /*margin-bottom: 0.5%;*/
  }

  .gutter-sizer {
    width: 0;
  }
}

/* Lightbox stuff */
.lightboxOverlay {
  background-color: #FFF
}

.lb-details {
  color: #222;
}

/* ------ Contact us page ------ */
.contact-section form {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 10px;
}

.contact-section form p {
  text-align: left;
  margin-bottom: 50px;
}

.contact-section form input,
.contact-section form textarea {
  width: 100%;
}

.contact-section form textarea {
  height: 300px;
}

.contact-section form input[disabled="disabled"] {
  background-color: #DDDDDD;
}

.contact-section #contact-form input.form-success {
  background-color: #aee3a2;
}

/* --Footer Section-- */
footer .row{
    padding: 5%
}

footer {
  padding: 1% 4%;
  clear: both;
  color: #FFFFFF;
  background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url(../images/dark_embroidery.png);
}

footer .row .five.columns p{
  margin-bottom: 0;
}

footer .two.columns.fa{
  color: blue;
  font-size: 5rem;
  background-color: white;
  padding: 0 3px;
  border-radius: 10%;
}


/*---Tablet Styles----*/

@media screen and (max-width:800px) {
  /* Universal */
  .mobile-show {
    display: inline-block;
  }

  .mobile-hide {
    display: none;
  }

  .desktop-show {
    display: none;
  }

  /* Collapse columns */

  .row .half-width {
    width: 100%;
  }

  .row .half-width.left {
    width: 100%
  }

  /* Header */
  header nav {
    text-align:center;
    width: 100%;
  }

  header img {
    text-align:center;
    margin: 15px 0 0 15px;
    height: 85px;
  }

  .title-section {
    padding-top: 18vh;
    background-position-x: -616px;
  }

  .title-section .left,
  .title-section .right {
    width: 96%;
    margin-left: 2%;
    padding: 15px;
  }

  .intro {
    min-height: 50vh;
  }

  /* Tripadvisor */
  #tripadvisor-carousel {
    margin-left: 0;
  }

  .column40pc, .column60pc { /* collapse columns */
    width: 100%;
  }

  /* Owl carousel */
  .owl-prev, .owl-next {
    top: 10%;
  }

  .owl-prev {
    left: -10px;
  }

  .owl-next {
    right: -10px;
  }

  .tripadvisor-profile {
    text-align: center;
    padding-right: 0;
    margin: 35px 0 15px;
  }
}

@media screen and (max-width: 374px) {
  /* So that the hero text doesn't clip on tiny screens */
  .title-section {
    height: 105vh;
  }
}
/*---Small Tablet or Large Phone Styles----*/

@media screen and (min-width: 801px) {
  .title-section .textbox {
    position: absolute;
    bottom: 0vh;
    width: 40%;
    min-width: 512px;
    padding: 10px 30px;
  }

  .title-section .textbox.left {
    left: 2%;
  }

  .title-section .textbox.right {
    right: 2%;
  }
}

@media screen and (max-width: 767px) {
  .text-column {
    padding: 5%
  }
}

@media screen and (min-width: 768px) and (max-width: 979px) {
  .about-villa-container p {
    line-height: 1
  }

  .text-column {
    padding: 0 2%;
  }

  .text-column h4 {
    font-size: 2.4rem;
    margin-bottom: 8px;
  }

  .text-column p{
    margin-bottom: 5px;
  }
}

@media screen and (min-width: 980px) and (max-width: 1050px) {
  .text-column h4 {
    font-size: 3rem;
    margin-bottom: 15px;
  }

  .text-column p{
    margin-bottom: 10px;
  }
}
